* {
    box-sizing: border-box;
}

/* @font-face {
    font-family: Unica;
    src: url('../assets/Unica77-Regular.otf');
} */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');body {

  

    display: flex;
    flex-direction: row;
    height: 100vh;
    /* justify-content: center;
    align-items: center; */

    background-color: black;
    background-image: linear-gradient(to right, #ee7401, #ff2ab8,#2ab3ff,  #9900ff);

 
    


}